<h1>Angular <-> Whisper Streaming</h1>
<p>硬體環境
    Mac M2 系列
    Angular
    Whisper small
</p>

<hr/>
<app-web-socket-audio-control></app-web-socket-audio-control>
<hr/>

<app-app-transcription-display></app-app-transcription-display>