<button (click)="connect()">Connect WebSocket</button>
<button (click)="disconnect()">Disconnect WebSocket</button>
<button (click)="startRecording()">Start Recording</button>
<button (click)="stopRecording()">Stop Recording</button>
<p *ngIf="message">{{ message | json }}</p>